form {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > div {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}